@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:300,600,700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-container {
  width: 500px;
  text-align: center;
  margin-bottom: 25px;
}

.page-container .title {
  margin-bottom: 25px;
}

.page-container .title .title-period {
  color: #4f7df3;
}

.page-container .launch-title {
  color: #969696;
  font-weight: 300;
  margin-bottom: 10px;
}

.page-container .launch-title .launch-title-soon {
  color: black;
  font-weight: 700;
}

.page-container .subscribe-title {
  color: #969696;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 25px;
}

.page-container .form {
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.page-container .form .email-address-error {
  position: absolute;
  font-size: 0.68rem;
  top: 55px;
  left: 20px;
  color: #ff5263;
  opacity: 0;
}

.page-container .form .active {
  opacity: 1;
}

.page-container .form input {
  width: 65%;
  border-radius: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
  border: 1px solid #c2d3ff;
}

.page-container .form button {
  width: 32%;
  color: white;
  border-radius: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
  background-color: #4f7df3;
  border: none;
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page-container .form button:hover {
  opacity: 0.8;
}

.page-container img {
  margin-bottom: 60px;
  width: 100%;
}

.page-container .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  margin: auto;
  margin-bottom: 25px;
}

.page-container .social-icons .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #c2d3ff;
  opacity: 0.8;
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.page-container .social-icons .social-icon:hover {
  background: #4f7df3;
}

.page-container .social-icons .social-icon:hover i {
  color: white;
}

.page-container .social-icons .social-icon i {
  color: #4f7df3;
}

.page-container .copyright {
  font-size: 1rem;
  color: #969696;
}

@media screen and (max-width: 675px) {
  .page-container {
    width: 90vw;
    padding: 30px;
  }
  .page-container .launch-title {
    font-size: 25px;
  }
  .page-container .launch-title .launch-title-soon {
    color: black;
    font-weight: 700;
  }
  .page-container .subscribe-title {
    font-size: 0.78rem;
  }
  .page-container .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-container .form input {
    width: 100%;
  }
  .page-container .form button {
    width: 100%;
  }
  .page-container .form .email-address-error {
    position: unset;
    display: block;
    font-size: 0.68rem;
    color: #ff5263;
    opacity: 0;
  }
  .page-container .form .active {
    position: unset;
    opacity: 1;
    font-size: 0.68rem;
    color: #ff5263;
  }
}
/*# sourceMappingURL=index.css.map */