@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:300,600,700&display=swap");

// ## Colors
// ### Primary

$blue: hsl(223, 87%, 63%);

// ### Secondary

$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);

// ### Neutral

$gray: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  height: 100vh;
}

.page-container {
  text-align: center;
  .title {
    margin-bottom: 25px;
    .title-period {
      color: $blue;
    }
  }

  .launch-title {
    color: $gray;
    font-weight: 300;
    margin-bottom: 5px;

    .launch-title-soon {
      color: black;
      font-weight: 700;
    }
  }

  .subscribe-title {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 25px;
  }

  .form {
    margin: auto;
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    input {
      width: 68%;
      border-radius: 20px;
      padding: 12px 20px;
      margin: 8px 0;
      outline: none;
      border: 1px solid $pale-blue;
      // margin-right: 10px;
    }

    button {
      width: 30%;
      color: white;
      border-radius: 20px;
      padding: 12px 20px;
      margin: 8px 0;
      outline: none;
      background-color: $blue;
      border: none;
      box-shadow: 5px 10px 18px #888888;
    }
  }

  .social-icons {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    margin: auto;
    .social-icon {
      border: 1px solid black;
      padding: 5px;
      border-radius: 50px;
    }
  }
}
